.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-bottom: 3px solid #DDDDDD;
  }

h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color: #4aaaa5;
    padding: 20px;
    margin-left: 175px;
    color: white;
    margin: 0 0 0 175px;
    padding: 25px 15px;
}
  
.top-nav {
    position: absolute;
    top: 36px;
    right: 175px;
  }

.top-nav a {
    text-decoration: none;
}

.top-nav a:hover {
    text-decoration: underline;
}


  
.nav-link {
    font-size: 20px;
    padding: 0 10px;
    color: #666666;
  }
  
.name {
    display: inline-block;
    font-weight: 800;
}

.content {
   height: 100%;
   width: 100%;
   text-align: center;
   margin-top: 250px;
}

.content-background-gravel {
    background-size: cover;
}


.content-title {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
    border-bottom: 3px solid #DDDDDD;
    padding: 20px 0 0 13px;
    margin-bottom: 15px;
    text-align: left;
}

.content-body {
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #666666;
    width: 960px;
    background-color: white;
    display: inline-block;
    padding: 0 10px;
    line-height: 100%;
}

.content-body p {
    padding: 8px 12px 12px 12px;
    text-align: left;
}

#me-pic {
    width: 180px;
    float: left;
    padding: 10px;
}

body {
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
    background-image: url(http://www.1designshop.com/wp-content/uploads/2015/12/1dsp-20151221-pattern006.png); 
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    border-top: 8px solid #4aaaa5;
    background-color:#666666;
    padding-top: 20px;
  }

.contact-logos {
    padding-bottom: 20px;

}

.contact-logos a {
    text-decoration: none;
}

.contact-logos img:hover {
    transform: scale(2);
}

#github {
    margin: 0px 25px;
}

fieldset {
    border: none;
}

label {
    display: block;
    font-size: 18px;
    text-align: left;
    padding: 15px;
    margin-left: -13px;
 
  }

input[type="email"],
input[type="text"],
button[type="submit"], textarea {
  display: block;
  height: auto;
  font-size: 14px;
  text-align: left;
  padding: 10px;
  margin-bottom: 30px;
  width: 98%;
}

button[type="submit"] {
    margin-top: 10px;
    background-color: #4aaaa5;
    color: white;
    width: auto;
    font-size: 16pt;
}

button[type="submit"]:hover {
    background-color: #286966;
    cursor: pointer;
}

.portfolio-box {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    margin: 0 15px 25px 15px;
}

.portfolio-boxes-top-row {
    display: inline-block;
}

.portfolio-boxes-bottom-row {
    display: inline-block;
}

#box-one {
    background-image: url("../images/Surf.JPG");
    background-size: cover;
}

#box-two {
    background-image: url("../images/Rutgers-App.jpg");
    background-size: cover;
}

#box-three {
    background-image: url("../images/Train.jpg");
    background-size: cover;
}

#box-four {
    background-image: url("../images/headphones.jpg");
    background-size: cover;
}

.portfolio-box-title {
    width: 200px;
    height: 40px;
    background-color: #4aaaa5;
    z-index: 2;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: white;
    text-align: center;
    position: relative;
    top: 155px;
    line-height: 35px;
}

.portfolio-box-title:hover {
    background-color: #286966;
    cursor: pointer;
}